@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Lato;
    src: url(fonts/Lato-Italic.ttf);
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: Lato;
    src: url(fonts/Lato-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Bold.ttf);
    font-weight: 700;
  }

/* RESET STYLES */
html {
    box-sizing: border-box;
    font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* VARIABLES */

:root {
    --our-red: #E4051B;
    --our-dark: #3C3C3B;
    --our-light: #eee;
    --gray: #9b9b9b;
}

/* STYLES */

::selection {
    color: var(--our-light);
    background: var(--our-red);
}

html {
    border-top: 0.4rem solid var(--our-dark);
    scroll-behavior: smooth;
    color: var(--our-dark);
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background: var(--our-light);
}

a {
    color: var(--our-red);
    font-weight: 700;
}

p, li, header, .light, #impressum {
    margin: auto;
}


header {
    padding: 4rem 0;
    max-width: 70rem;
}

h1, h2, h3, footer, .dark, .lightp {
    text-align: center;
}

p {
    max-width: 50rem;
    font-size: 1.25rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 6.25rem;
    font-weight: 700;
    margin: 0 0 -2rem 0;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 2rem;
    transform: skewY(-1deg);
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    padding: 1rem;
}

section {
    padding: 4rem 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

footer {
    background: var(--our-light);
    color: var(--our-dark);
    font-size: 1.25rem;
    padding-bottom: 0;
    margin: 2rem 0 0 0;
}

.subtitle {
    text-align: right;
}

.title-accent {
    color: var(--our-dark);
    border: 20px solid red;
    background: #ffffff;
    border-radius: 50%;
    width: 150px;
    display: inline-block;
    height: 150px;
}

.dark {
    padding: 0;
    margin: 0;
    position: relative;
    color: var(--our-light);
    letter-spacing: 0.02em;
    z-index: 1;
}

.dark::after {
    content: '';
    position: absolute;
    background: var(--our-dark);
    inset: 0;
    z-index: -1;
    transform: skewY(-1deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19), 0 -2px 4px 0 rgba(0, 0, 0, 0.2), 0 -3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border-radius: 4rem;
    background: var(--our-dark);
    color: var(--our-light);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto auto auto;
    padding: 0.5rem 3rem;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: 0.6s ease;
}

.button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#moreInformation {
    margin-top: 30px;
}

/* LEAFLET */
.leaflet-control-zoom-in, .leaflet-control-zoom-out, .leaflet-control, .leaflet-control-geocoder-icon, .leaflet-control-layers-expanded {
    background: var(--our-dark) !important;
}

.leaflet-control-zoom {
    border: 2px solid var(--our-dark) !important;
}

.leaflet-control-geocoder-icon, .leaflet-control-layers-toggle {
    background-image: none !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out,
.leaflet-control-attribution, .leaflet-control-attribution a, 
.leaflet-control-geocoder-alternatives li a, 
.leaflet-control-geocoder-form input, .leaflet-control-geocoder-form input::placeholder,
.leaflet-control-layers-expanded {
    color: var(--our-light) !important;
}

.leaflet-control-geocoder-alternatives li a span {
    color: var(--our-light);
    opacity: 0.8;
}

.leaflet-control-geocoder-alternatives li:hover {
    background: #252525 !important;
}

.leaflet-control-geocoder-icon::before {
    content: "\f002";
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 18px;
    top: 6px;
    left: 6px;
    color: var(--our-light)
}

.leaflet-control-layers-toggle {
    width: 30px !important;
    height: 30px !important;
}

.leaflet-control-layers-toggle::before {
    content: "\f5fd";
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 18px;
    top: 2px;
    left: 5px;
    color: var(--our-light)}

.leaflet-control-layers-expanded {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

.leaflet-control-layers-list {
    padding: 0;
    margin: 0;
}


/* SLIDESHOW */
.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: 3rem 0 7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.slide.hidden {
    display: none;
}

.slide > img {
    max-width: 300px;
    max-height: 300px;
}

.slide > p {
    width: 40%;
    margin: 0;
}

.prev, .next {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 1rem;
    font-size: 1.25rem;
    transition: 0.6s ease;
    border-radius: 0.3125rem;
    user-select: none;
    width: fit-content;
    height: fit-content;
}

.prev:hover, .next:hover {
    color: firebrick;
    background: rgba(0, 0, 0, 0.1);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.fa-sort-up {
    margin-top: 0.5rem;
}

#map {
    transform: skewY(-1deg);
    height: 600px;
}

#map_section {
    padding: 0;
}

#partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#impressum {
    padding-bottom: 5rem;
}

#impressum h2 {
    transform: none;
}

#impressumLink {
    color: var(--our-light);
    font-size: 14px;
    padding: 5px;
    margin: auto;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

#impressumToggler {
    width: 100%;
    transition: 0.6s ease;
    background: var(--our-dark);
}

@media (max-width: 1100px) {

    .slideshow-container > .slide {
        flex-direction: column;   
        height: 25rem;
    }

    .slideshow-container > .slide > p {
        font-size: 1rem;
        margin-top: 1em;
        width: 70%;
        text-align: center;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 4.25rem;
        margin: 0 0 -3.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .title-accent {
        width: 105px;
        height: 105px;
        border: 15px solid red;
    }

    .subtitle {
        margin-top: 40px;
    }

    .button {
        font-size: 1rem;
    }

    .link-icons {
        font-size: 0.75rem;
        width: 20%;
    }

    .map {
        height: 45vh;
    }

    footer {
        text-align: center;
        background: var(--our-light);
        color: var(--our-dark);
        font-size: 0.75rem;
        padding-bottom: 0;
    }

    .fa-sort-up {
        margin-top: 0.4rem;
    }
    
}

@media (max-width: 425px) {
    h1 {
        font-size: 3.5rem;
        margin: 0 0 -3rem;
    }

    h3 {
        font-size: 1rem;
    }

    .title-accent {
        width: 90px;
        height: 90px;
        border: 15px solid red;
    }

    .button {
        font-size: 0.75rem;
        width: 50%;
    }

}

@media (max-width: 320px) {
    h1 {
        font-size: 3rem;
        margin: 0 0 -3rem;
    }

    .title-accent {
        width: 75px;
        height: 75px;
        border: 12px solid red;
    }
}

